// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

// Placeholder text
$input-color-placeholder: #ccc;
$input-font-style-placeholder: italic;
@mixin placeholder($color: $input-color-placeholder, $font-style: $input-font-style-placeholder) {
  &:-moz-placeholder {
    color: $color;
    font-style: $font-style;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Firefox
  &::-moz-placeholder {
    color: $color;
    font-style: $font-style;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
    font-style: $font-style;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
    font-style: $font-style;
  }
  // Safari and Chrome
}

html {
  position: relative;
  min-height: 100%;
}

body {
  position: static;
  margin-bottom: 87px;
}

h1 {
}

h2, h3, h4 {
  a {
    color: $headings-color;

    &:hover {
      color: $headings-color;
    }
  }
}

h2 {
  line-height: 36px;
}

h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ol, ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  //padding-bottom: 9px;
  margin: 0 0 20px 0;
}

// Footer.
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 87px;
  margin-top: 0;
  background: $footerBgColor;
  border-top-color: transparent;
  color: $footerTextColor;
  font-size: 14px;
  padding: 24px 15px;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: $footerLinkColor;

    &:hover {
      color: $footerLinkHoverColor;
    }
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }

  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.pager {
  li {
    > a,
    > span {
      color: $pagination-color;

      &:hover {
        color: $pager-active-color;
      }
    }
  }

}

.form-control {
  font-size: 14px;
}
