@charset "UTF-8";

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.logo {
  margin-right: 8px;

  img {
    width: 62px;
    height: 62px;
  }
}

.navbar-nav {
  margin: 0 -15px;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;

    > li > a {
      padding: 29px 15px;
    }
  }
  .navbar-default {
    ul {
      li {
        border-right: 1px solid $menuItemBorderColor;

        &:last-child {
          border: none;
        }
      }
    }
  }
}

// Default navbar
.navbar-default {
  .navbar-brand {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 15px;
      transition: none;
      font-weight: bold;
      line-height: 20px;

      &:hover,
      &:focus {
        border-bottom: 8px solid $menuItemBorderBottomColor;
        padding-bottom: 21px;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        border-bottom: 8px solid $menuItemBorderBottomColor;
        padding-bottom: 21px;
      }
    }

    @media (max-width: 768px) {
      > li > a {
        padding-left: 23px;
        border-bottom: 1px solid #ddd;

        &:hover,
        &:focus {
          border-bottom: none;
          border-left: 8px solid $menuItemBorderBottomColor;
          padding-bottom: 10px;
          padding-left: 15px;
          background-color: $headerBorderColor;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          border-bottom: none;
          border-left: 8px solid $menuItemBorderBottomColor;
          padding-bottom: 10px;
          padding-left: 15px;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $btn-primary-border;
    background-color: $btn-primary-bg;
    margin-top: 20px;

    &:hover,
    &:focus {
      background-color: darken($btn-primary-bg, 10%);
    }

    .icon-bar {
      background-color: $body-bg;
    }
  }

}

/* uncss:ignore start */
.navbar-collapse.in {
  overflow-y: auto;
}
.collapse.in {
  display: block;
}
/* uncss:ignore end */

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-right: 30px;
  }
  .navbar-default {
    .navbar-brand {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }
}

.dropdown-menu {
  padding: 0;
  background-color: $body-bg;
  border-radius: 0;
  border: 1px solid $menuItemBorderColor;

  > li {
    border-right: none;

    > a {
      padding: 6px 29px;
      text-transform: uppercase;
      color: $menuItemTextColor;
    }

    &:hover, &:focus {
      a {
        color: $menuItemActiveTextColor;
        background-color: $menuItemBgHoverColor;
      }
    }
  }

  > .active {
    > a,
    > a:hover,
    > a:focus {
      color: $menuItemActiveTextColor;
      background-color: $menuItemBgActiveColor;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: inherit;
    background-color: inherit;
  }
}

.field--type-text-with-summary,
.field-name-body,
.cke_editable {
  ul {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 25px 0 30px;
    display: inline-block;

    li {
      padding-left: 1em;
      text-indent: -.7em;

      &:before {
        content: "\f00c";
        color: $listPointsColor;
        font-family: 'FontAwesome';
        font-size: 15px;
        margin-left: -13px;
        margin-right: 8px;
      }
    }
  }
}

.region-sidebar-second {
  h2 {
    font-size: 23px;
    margin-top: 0;
  }

  section {
    margin-bottom: 15px;
  }
}

.main-container {
  padding-bottom: 15px;
}

.upper {
  display: none; // Will be visible by CSS.
  position: fixed;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  width: 42px;
  height: 37px;
  padding: 5px 10px;
  background-color: #4A4A4A;
  border: 1px solid #fff;
  color: #fff;
  bottom: 17px;
  right: 17px;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  // transition: all 0.2s ease-out;

  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: $upperBgHoverColor;
  }

  &:after {
    content: "\f077";
    color: #fff;
    font-family: 'FontAwesome';
  }
}

.breadcrumb {
  border-radius: 0;
  background: none transparent;
  padding: 0;
  margin-bottom: 20px;

  a {
    color: $breadcrumbColor;
  }
}

//Todo: Make beautiful instead of hiding.
.feed-icons {
  display: none;
}

pre {
  border-color: $preBorderColor;
  background-color: $preBgColor;
  color: $preTextColor;
  font-size: 13px;
}

blockquote {
  border-left-color: $blockquoteBorderColor;
  color: $blockquoteTextColor;
}

.contact-message-form {
  .form-control {
    border: solid 1px $formFieldBorderColor;
    background-color: $formFieldBgColor;
    clear: both;
    height: auto;
    margin-bottom: 25px;
    padding: 10px 15px;
    border-radius: 0;
    color: $formFieldTextColor;

    &:focus {
      outline: 0;
    }

    @include placeholder($formFieldTextAlternativeColor, italic);
  }

  .form-textarea {
    height: 176px;
    resize: none;
  }

  .form-actions {
    text-align: center;
  }
}

.g-recaptcha {
  margin-bottom: 15px;
  opacity: .8;

  & > div {
    margin: 0 auto;
  }
}

/* uncss:ignore start */
.user-login-page {
  h1 {
    display: none;
  }

  .tabs {
    max-width: 330px;
    margin: 0 auto;
  }
}
/* uncss:ignore end */

/* uncss:ignore start */
.user-login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-item {
    margin-bottom: 5px;
  }

  .form-submit {
    width: 100%;
    margin-right: 0;
  }
}
/* uncss:ignore end */

.field--label {
  color: $labelColor;
}

/* uncss:ignore */
.tabs--primary {
  margin-bottom: 2rem;
}
