@charset "UTF-8";

@import "default-variables";

.page-node-type-page {
  article[about="/about-me"] {
    .field--name-body {
      img {
        border-radius: 50%;
        border: 8px solid $imageBorderColor;
        margin: 0 15px 15px 0;
        max-width: 216px;
        height: auto;
        @media (max-width: 768px) {
          float: none;
          display: block;
          width: 50%;
          height: auto;
          margin: 0 auto 15px auto;
        }
      }
    }
  }
}
