<div class="section projects" id="projects">
  <div class="container-lg">
    <div class="title-wrapper">
      <h2 class="section-title animated field-label-above">{{ label }}</h2>
      <div class="line"></div>
    </div>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
    <div class="read-more"><a href="/projects">{{ "Look other projects"|t }} ></a></div>
  </div>
</div>
