<div class="section about" id="about">
  <div class="container-lg">
    <div class="title-wrapper">
      <h2 class="section-title style-fancy fancy-secondary fancy-centered">{{ label }}</h2>
    </div>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
</div>
