<div class="section clients" id="clients">
  <div class="container-lg">
    <div class="title-wrapper">
      <h2 class="section-title style-fancy fancy-centered">{{ label }}</h2>
    </div>
    <div class="logos d-flex flex-md-row flex-wrap flex-md-nowrap justify-content-center justify-content-md-between align-items-center gap-5">
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </div>
  </div>
</div>
