$media: screen;

@media #{$media} and (max-width: 1152px) {
  .sticky_sharrre_bar {
    h2 {
      &.title {
        font-size: 24px;
      }
    }
  }
}

@media #{$media} and (max-width: 960px) {
  .sticky_sharrre_bar {
    h2 {
      &.title {
        font-size: 22px;
      }
    }
  }
}

@media #{$media} and (max-width: 640px) {
  .sticky_sharrre_bar {
    h2 {
      &.title {
        font-size: 20px;
      }
    }
  }
}

@media #{$media} and (max-width: 440px) {
  .sticky_sharrre_bar {
    h2 {
      &.title {
        font-size: 18px;
      }
    }
  }
}
