@charset "UTF-8";

// Placeholder text
$input-color-placeholder: #ccc;
$input-font-style-placeholder: italic;
@mixin placeholder($color: $input-color-placeholder, $font-style: $input-font-style-placeholder) {
  &:-moz-placeholder {
    color: $color;
    font-style: $font-style;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Firefox
  &::-moz-placeholder {
    color: $color;
    font-style: $font-style;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
    font-style: $font-style;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
    font-style: $font-style;
  }
  // Safari and Chrome
}

html {
  position: relative;
  min-height: 100%;
}

body {
  position: static;
  margin-bottom: 8.7rem;
}

h1 {
}

h2, h3, h4 {
  a {
    color: $headings-color;

    &:hover {
      color: $headings-color;
    }
  }
}

h2 {
  line-height: 3.6rem;
}

h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ol, ul {
  padding-left: 1.5em;

  //.popover &:last-child {
  //  margin-bottom: 0;
  //}
}

// Page header.
.page-header {
  //padding-bottom: 9px;
  margin: 0 0 2rem 0;
}

// Footer.
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 87px;
  margin-top: 0;
  background: $footerBgColor;
  border-top-color: transparent;
  color: $footerTextColor;
  font-size: 1.4rem;
  padding: 2.4rem 1.5rem;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: $footerLinkColor;

    &:hover {
      color: $footerLinkHoverColor;
    }
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  //> .glyphicon {
  //  font-size: $font-size-large;
  //  float: left;
  //  margin: -0.05em 0.5em 0 0;
  //}
  //
  //.block {
  //  overflow: hidden;
  //}
}

.help-block, .control-group .help-inline {
  //color: $gray-light;
  //font-size: 1.2rem;
  //margin: 5px 0 10px;
  //padding: 0;
  //
  //&:first-child {
  //  margin-top: 0;
  //}
}

.pager {
  li {
    > a,
    > span {
      color: $pagination-color;

      &:hover {
        color: $pager-active-color;
      }
    }
  }

}

.form-control {
  font-size: 1.4rem;
}
