@charset "UTF-8";

#block-hireme {
  padding: 45px 0;
  font-weight: 200;
  text-align: center;
  h2 {
    font-size: 60px;
    line-height: initial;
    margin: 0;
    color: $blockHireMeH2;
  }
  p {
    margin: 12px 0 0 0;
  }
  a {
    margin-top: 12px;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $blockHireMeButtonBg;
    padding: 15px 20px;
    color: $blockHireMeButtonText;
    text-decoration: none;
    &:after {
      font-family: 'Glyphicons Halflings';
      content: " \e092";
    }
    &:hover, &:active {
      background-color: $blockHireMeButtonBgHover;
    }
  }
}

#block-googleadsenseeasydrupalresponsive,
#block-googleadsenseeasydrupalresponsive-2 {
  overflow: hidden;
}

#block-ccopyright {
  p {
    padding: 3px 0;
  }
}

#block-otherprofiles {
  max-width: 500px;
  float: right;
  p, label {
    display: inline-block;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    text-indent: 0;
    padding-left: 15px;
    &::before {
      content: '';
    }
  }
  a {
  }
  img {
    height: 32px;
    width: auto;
  }
  @media (max-width: 768px) {
    float: none;
    li {
      padding-bottom: 15px;
    }
  }
}

#block-otherprofilesrightsidebar {
  border: 1px solid $globalBorderColor;
  padding: 20px 15px;
  text-align: center;
  .field--name-body {
    div {
      margin-bottom: 15px;
    }
    img {
      width: 40%;
      height: auto;
      margin: 0 auto;
    }
  }
}
