@charset "UTF-8";

.logo {
  margin-right: 8px;
  img {
    width: 62px;
    height: 62px;
  }
}
@media (min-width: 768px) {
  .navbar {
    &.navbar-static-top {
    }
  }
  .navbar-nav > li > a {
    padding: 29px 15px;
  }
  .navbar-default {
    ul {
      li {
        border-right: 1px solid $menuItemBorderColor;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
// Default navbar
.navbar-default {
  background: $headerBgColor;
  border-color: $headerBorderColor;
  //border-bottom-color: $menuItemBorderBottomColor;

  .navbar-brand {
    height: 77px;
    padding: 27px 15px;
    font-size: 20px;
    line-height: 20px;
    color: $logoColor;
    font-weight: bold;
    &:hover,
    &:focus {
      color: $logoHoverColor;
      //background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    //color: @navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $menuItemTextColor;
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 15px;
      transition: none;
      font-weight: bold;
      //transition: none;
      &:hover,
      &:focus {
        border-bottom: 8px solid $menuItemBorderBottomColor;
        padding-bottom: 21px;
        color: $menuItemHoverTextColor;
        background: $menuItemBgHoverColor;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        border-bottom: 8px solid $menuItemBorderBottomColor;
        padding-bottom: 21px;
        color: $menuItemActiveTextColor;
        background: $menuItemBgActiveColor;
      }
    }
    > .open > a:focus {
      color: $menuItemActiveTextColor;
      background: $menuItemBgActiveColor;
    }
    @media (max-width: 768px) {
      > li > a {
        padding-left: 23px;
        &:hover,
        &:focus {
          border-bottom: none;
          border-left: 8px solid $menuItemBorderBottomColor;
          padding-bottom: 10px;
          padding-left: 15px;
          background-color: $headerBorderColor;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          border-bottom: none;
          border-left: 8px solid $menuItemBorderBottomColor;
          padding-bottom: 10px;
          padding-left: 15px;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $globalLinkHoverColor;
    background-color: $globalLinkColor;
    margin-top: 20px;
    &:hover,
    &:focus {
      background-color: $globalLinkHoverColor;
    }
    .icon-bar {
      background-color: $menuItemBgColor;
    }
  }

  .navbar-collapse,
  .navbar-form {
    //border-color: @navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        //background-color: @navbar-default-link-active-bg;
        //color: @navbar-default-link-active-color;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-right: 30px;
  }
  .navbar-default {
    .navbar-brand {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }
}
.dropdown-menu {
  padding: 0;
  background-color: $menuItemBgColor;
  border-radius: 0;
  border: 1px solid $menuItemBorderColor;
  > li {
    border-right: none;
    > a {
      padding: 6px 29px;
      text-transform: uppercase;
      color: $menuItemTextColor;
      //&.is-active {
      //  color: $menuItemActiveTextColor;
      //}
    }
    &:hover, &:focus {
      a {
        color: $menuItemActiveTextColor;
        background-color: $menuItemBgHoverColor;
      }
    }
    //&:active, &.active {
    //  a {
    //    color: $menuItemActiveTextColor;
    //    background-color: $menuItemBgActiveColor;
    //  }
    //}
  }
  > .active {
    > a,
    > a:hover,
    > a:focus {
      color: $menuItemActiveTextColor;
      background-color: $menuItemBgActiveColor;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: inherit;
    background-color: inherit;
  }
}
.field--type-text-with-summary,
.field-name-body,
.cke_editable {
  ul {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 25px 0 30px;
    display: inline-block;
    li {
      padding-left: 1em;
      text-indent: -.7em;
      &:before {
        content: "\e013";
        color: $listPointsColor;
        font-family: 'Glyphicons Halflings';
        font-size: 15px;
        margin-left: -13px;
        margin-right: 8px;
      }
    }
  }
}
.region-sidebar-second {
  h2 {
    color: $secondSidebarH2Color;
    font-size: 23px;
    margin-top: 0;
  }
  section {
    margin-bottom: 15px;
  }
}
.main-container {
  //margin-bottom: 30px;
  padding-bottom: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 87px;
  margin-top: 0;
  &.container {
    //width: 100%;
  }
  background: $footerBgColor;
  border-top-color: transparent;
  color: $footerTextColor;
  font-size: 14px;
  padding: 24px 15px;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: $footerLinkColor;
    &:hover {
      color: $footerLinkHoverColor;
    }
  }
  //.region-footer {
  //  margin-right: auto;
  //  margin-left: auto;
  //}
  //@media (min-width: 768px) {
  //  .region-footer {
  //    width: 750px;
  //  }
  //}
  //@media (min-width: 992px) {
  //  .region-footer {
  //    width: 970px;
  //  }
  //}
  //@media (min-width: 1200px) {
  //  .region-footer {
  //    width: 1170px;
  //  }
  //}
}
.upper {
  position: fixed;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  width: 42px;
  height: 37px;
  padding: 5px 10px;
  background-color: rgba(74, 74, 74, 0.6);
  border: 1px solid #fff;
  color: #fff;
  bottom: 17px;
  right: 17px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease-out;
  &:hover, &:focus, &:active {
    text-decoration: none;
    background-color: $upperBgHoverColor;
  }
  &:after {
    content: "\e253";
    color: #fff;
    font-family: 'Glyphicons Halflings';
  }
}
.breadcrumb {
  border-radius: 0;
  background: none transparent;
  padding: 0;
  a {
    color: $breadcrumbColor;
  }
}
// Commented - the stiles from bootstrap less!
.pagination {
  //display: inline-block;
  //padding-left: 0;
  //margin: @line-height-computed 0;
  //border-radius: @border-radius-base;

  > li {
    //display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      //position: relative;
      //float: left; // Collapse white-space
      //padding: @padding-base-vertical @padding-base-horizontal;
      //line-height: @line-height-base;
      //text-decoration: none;
      color: $paginationLinkColor;
      background-color: #fff;
      border: 1px solid $paginationBorderColor;
      //margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        //margin-left: 0;
        //.border-left-radius(@border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        //.border-right-radius(@border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      //z-index: 2;
      color: $paginationLinkHoverColor;
      background-color: $paginationBgHoverColor;
      border-color: $paginationBgHoverColor;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      //z-index: 3;
      color: $paginationLinkActiveColor;
      background-color: $paginationBgActiveColor;
      border-color: $paginationBgHoverColor;
      //cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      //color: #fff;
      //background-color: $linkColor;
      //border-color: $linkColor
      //cursor: @cursor-disabled;
    }
  }
}
.pager {
  //padding-left: 0;
  //margin: @line-height-computed 0;
  //list-style: none;
  //text-align: center;
  //&:extend(.clearfix all);
  li {
    //display: inline;
    > a,
    > span {
      //display: inline-block;
      //padding: 5px 14px;
      color: $paginationLinkColor;
      background-color: $paginationBgColor;
      border: 1px solid $paginationBorderColor;
      //border-radius: @pager-border-radius;
    }

    > a:hover,
    > a:focus {
      color: $paginationLinkHoverColor;
      //text-decoration: none;
      background-color: $paginationBgHoverColor;
      border-color: $paginationBorderHoverColor;
    }
  }

  .next {
    > a,
    > span {
      //float: right;
    }
  }

  .previous {
    > a,
    > span {
      //float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      //color: @pager-disabled-color;
      //background-color: @pager-bg;
      //cursor: @cursor-disabled;
    }
  }
}
.page-header {
  border-bottom: 1px solid $globalBorderColor;
}
//Todo: Make beautiful.
.feed-icons {
  display: none;
}
pre {
  border-color: $preBorderColor;
  background-color: $preBgColor;
  color: $preTextColor;
}
blockquote {
  border-left-color: $blockquoteBorderColor;
  color: $blockquoteTextColor;
}
.btn-primary {
  color: $formButtonTextColor;
  border-color: $formButtonBorderColor;
  background-color: $formButtonBgColor;
  border-radius: 3px;
  &:focus,
  &:hover {
    color: $formButtonTextHoverColor;
    background-color: $formButtonBgHoverColor;
    border-color: $formButtonBorderHoverColor;
  }
  &:active {
    color: $formButtonTextActiveColor !important;
    background-color: $formButtonBgActiveColor !important;
    border-color: $formButtonBorderActiveColor !important;
  }
}
.date {
  position: relative;
  background-color: $dateArticleBgColor;
  font-family: Arial, Helvetica, sans-serif;
  color: $dateArticleTextColor;
  margin-right: 16px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  span.day {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
  }
  span.year {
    display: block;
    font-size: 10px;
    line-height: 10px;
  }
  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: $dateArticleBgColor;
    border-width: 8px;
    margin-top: -8px;
  }
}
.contact-message-form {
  .form-control {
    border: solid 1px $formFieldBorderColor;
    background-color: $formFieldBgColor;
    clear: both;
    height: auto;
    margin-bottom: 25px;
    padding: 10px 15px;
    border-radius: 0;
    color: $formFieldTextColor;
    &:focus {
      outline: 0;
    }
    @include placeholder ($formFieldTextAlternativeColor, italic);
  }
  .form-textarea {
    height: 176px;
    resize: none;
  }
  .form-actions {
    text-align: center;
  }
}
.g-recaptcha {
  margin-bottom: 15px;
  opacity: .8;
  & > div {
    margin: 0 auto;
  }
}
.wow {
  visibility: hidden;
}
.user-login-page {
  h1 {
    display: none;
  }
  .tabs {
    max-width: 330px;
    margin: 0 auto;
  }
}
.user-login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-item {
    margin-bottom: 5px;
  }
  .form-submit {
    width: 100%;
    margin-right: 0;
  }
}
