@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto:400,400i,700&subset=cyrillic);

/** COLORS **/

// http://adobe.ly/1BOf1GL
// sandy stone beach ocean diver
$c1: #E6E2AF;
$c2: #A7A37E;
$c3: #EFECCA;
$c4: #046380;
$c5: #002F2F;

// https://color.adobe.com/ru/Firenze-color-theme-24198/?showPublished=true
// Firenze
$c1: #468966;
$c2: #FFF0A5;
$c3: #FFB03B;
$c4: #B64926;
$c5: #8E2800;

// https://color.adobe.com/ru/Flat-UI-color-theme-2469224/
// Flat UI
$c1: #2C3E50; //texts
$c2: #E74C3C; // links
$c3: #ECF0F1; //bg
$c4: #3498DB; //bg for header and footer
$c5: #2980B9; //bg for header and footer active

// https://color.adobe.com/ru/Tech-Office-color-theme-23615/
// Tech Office
$c1: #595241;
$c2: #B8AE9C;
$c3: #FFFFFF;
$c4: #ACCFCC;
$c5: #8A0917;

$globalBgColor: #fff;
$globalTextColor: #575756;
$globalLinkColor: #293749;
$globalLinkHoverColor: darken($globalLinkColor, 10%);
$globalBorderColor: #ddd;

$imageBorderColor: #eee;
$portfolioHoverTextColor: #fff;

$headerBgColor: #fff;
$headerBorderColor: #ddd;
$logoColor: #575756;
$logoHoverColor: darken($logoColor, 10%);
$menuItemTextColor: #777;
$menuItemHoverTextColor: #81a5bf;
$menuItemActiveTextColor: #81a5bf;
$menuItemBgColor: #fff;
$menuItemBgHoverColor: #fff;
$menuItemBgActiveColor: #fff;
$menuItemBorderColor: #ddd;
$menuItemBorderBottomColor: #81a5bf;

$breadcrumbColor: #81a5bf;

$h1Color: #293749;
$h2Color: #293749;
$h3Color: #293749;
$h4Color: #293749;
$h5Color: #293749;
$h1LinkColor: #293749;
$h2LinkColor: #293749;
$h3LinkColor: #293749;
$h4LinkColor: #293749;
$h5LinkColor: #293749;
$h1LinkHoverColor: #293749;
$h2LinkHoverColor: #293749;
$h3LinkHoverColor: #293749;
$h4LinkHoverColor: #293749;
$h5LinkHoverColor: #293749;

$footerBgColor: #575756;
$footerTextColor: #fff;
$footerLinkColor: #fff;
$footerLinkHoverColor: #eee;

$dateColor: #81a5bf;
$dateArticleTextColor: #fff;
$dateArticleBgColor: #81a5bf;

$tagBgColor: #ddd;
$tagTextColor: #222;
$tagBgHoverColor: #666;
$tagTextHoverColor: #fff;

$labelColor: #293749;
$listPointsColor: #81a5bf;

$paginationLinkColor: #81a5bf;
$paginationLinkHoverColor: #fff;
$paginationLinkActiveColor: #fff;
$paginationBorderColor: #81a5bf;
$paginationBorderHoverColor: #fff;
$paginationBorderActiveColor: #fff;
$paginationBgColor: #fff;
$paginationBgHoverColor: #81a5bf;
$paginationBgActiveColor: #81a5bf;

$articleFirstLetterColor: #293749;

$preBorderColor: #ccc;
$preBgColor: #f5f5f5;
$preTextColor: #212121;

$blockquoteBorderColor: #ccc;
$blockquoteTextColor: #212121;

$attachmentsTextColor: #81a5bf;
$attachmentsLinkColor: #81a5bf;
$attachmentsBorderColor: darken($attachmentsLinkColor, 10%);
$attachmentsBgColor: transparent;

$secondSidebarH2Color: #293749;

$testimonialsAboutTextColor: #81a5bf;

$testimonialsBlockquoteBorderColor: #bbb;
$testimonialsBlockquoteBgColor: transparent;
$testimonialsBlockquoteTextColor: #575756;
$testimonialsBlockquoteAdditionalColor: #81a5bf;

$formFieldBgColor: #fff;
$formFieldBorderColor: #ddd;
$formFieldTextColor: #666;
$formFieldTextAlternativeColor: #ccc;

$formButtonBgColor: #81a5bf;
$formButtonBorderColor: darken($formButtonBgColor, 10%);
$formButtonTextColor: #fff;
$formButtonBgHoverColor: darken($formButtonBgColor, 10%);
$formButtonBorderHoverColor: darken($formButtonBorderColor, 25%);
$formButtonTextHoverColor: #fff;
$formButtonBgActiveColor: darken($formButtonBgColor, 20%);
$formButtonBorderActiveColor: darken($formButtonBorderColor, 50%);
$formButtonTextActiveColor: #fff;

$blockHireMeH2: #293749;
$blockHireMeButtonText: #fff;
$blockHireMeButtonBg: $attachmentsTextColor;
$blockHireMeButtonBgHover: darken($attachmentsTextColor, 10%);

$aboutAuthorNameColor: #414A51;

$upperBgHoverColor: #81a5bf;


html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $globalTextColor;
  background-color: $globalBgColor;
  position: static;
  margin-bottom: 87px;
}

h1 {
  font-family: "Roboto Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: $h1Color;
  font-weight: bold;
}

h2 {
  font-family: "Roboto Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: $h2Color;
  a {
    color: $h2LinkColor;
    &:hover {
      color: $h2LinkHoverColor;
    }
  }
}

h3 {
  font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: $h3Color;
  a {
    color: $h3LinkColor;
    &:hover {
      color: $h3LinkHoverColor;
    }
  }
}

h4 {
  font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: $h4Color;
  a {
    color: $h4LinkColor;
    &:hover {
      color: $h4LinkHoverColor;
    }
  }
}

a {
  color: $globalLinkColor;
  &:hover,
  &:active,
  &:focus {
    color: $globalLinkHoverColor;
  }
}

.field--label {
  color: $labelColor;
}

.field--type-fivestar {
  float: right;
  margin-left: 15px;
  .select-wrapper {
    &:after {
      content: '';
      display: none;
    }
  }
}

%tags {
  top: -3px;
  display: inline-block;
  background: $tagBgColor;
  color: $tagTextColor;
  font-size: 12px;
  height: 23px;
  line-height: 22px;
  padding: 0 14px 0 16px;
  position: relative;
  margin: 0 10px 0 0;
  text-decoration: none;
  &::before {
    background: $globalBgColor;
    border-radius: 4px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 4px;
    left: 6px;
    position: absolute;
    width: 4px;
    top: 9px;
  }
  &::after {
    background: $globalBgColor;
    border-bottom: 11px solid transparent;
    border-left: 6px solid $tagBgColor;
    border-top: 12px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover {
    background-color: $tagBgHoverColor;
    color: $tagTextHoverColor;
    &::after {
      border-left-color: $tagBgHoverColor;
    }
  }
}

// Placeholder text
$input-color-placeholder: #ccc;
$input-font-style-placeholder: italic;
@mixin placeholder($color: $input-color-placeholder, $font-style: $input-font-style-placeholder) {
  &:-moz-placeholder {
    color: $color;
    font-style: $input-font-style-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Firefox
  &::-moz-placeholder {
    color: $color;
    font-style: $input-font-style-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
    font-style: $input-font-style-placeholder;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
    font-style: $input-font-style-placeholder;
  }
  // Safari and Chrome
}

@import "site";
@import "sprite";
@import "nodes_types";
@import "views";
@import "blocks";
@import "slick";
