@import 'variables_theme';

.date {
  position: relative;
  background-color: $color-neutral-13;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-white;
  padding: 0.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span.day {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
  }

  span.year {
    display: block;
    font-size: .7rem;
    line-height: .8rem;
  }

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: $color-neutral-13;
    border-width: 8px;
    margin-top: -8px;
  }
}
