header {
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    border-bottom: .1rem solid $color-neutral-3;
    margin-bottom: 2rem;
  }

  .navbar-brand {
    gap: 1rem;

    img {
      width: 62px;
      height: 62px;
    }

    .site-title {
      color: $color-body;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  .navbar-toggler {

  }

  .navbar-collapse {

  }

  .menu--main {
    .navbar-nav {
      --bs-nav-link-padding-x: 0;
      --bs-nav-link-padding-y: .75rem;
      --bs-nav-link-font-weight: normal;
      --bs-nav-link-color: #{$color-body};
      --bs-nav-link-hover-color: #{$color-neutral-2};
      @media (min-width: $bs-breakpoint-md) {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 1.8rem;
      }

      .nav-item {
        &:not(:last-of-type) {
          border-bottom: .1rem solid $color-neutral-3;
          @media (min-width: $bs-breakpoint-md) {
            border-bottom: none;
            border-right: .1rem solid $color-neutral-3;
          }
        }

        .nav-link {
          --bs-nav-link-font-size: 0.938rem;
          --bs-nav-link-hover-color: #{$color-neutral-2};
          --bs-nav-link-font-weight: 700;
          --line-height: 1.25rem;
          --hover-border-bottom: .5rem;
          --bs-navbar-active-color: #{$color-neutral-2};
          --bs-navbar-nav-link-padding-x: 1rem;
          text-transform: uppercase;
          padding-left: 1.5rem;

          @media (min-width: $bs-breakpoint-md) {
            padding-left: var(--bs-navbar-nav-link-padding-x);
          }

          &.is-active,
          &:hover,
          &:focus,
          &:active {
            color: $color-neutral-2;
            border-left: var(--hover-border-bottom) solid $color-neutral-2;
            padding-left: calc(1.5rem - var(--hover-border-bottom));

            @media (min-width: $bs-breakpoint-md) {
              border-left: none;
              border-bottom: var(--hover-border-bottom) solid $color-neutral-2;
              padding-bottom: calc(var(--bs-nav-link-padding-y) - var(--hover-border-bottom));
            }
          }

          &:hover,
          &:focus,
          &:active {
            background-color: $color-neutral-3;

            @media (min-width: $bs-breakpoint-md) {
              background:  none;
            }
          }
        }
      }
    }
  }
}
