@charset "UTF-8";

.region-content {
  .field {
    margin-bottom: 1.5rem;
  }
}

.text-primary {
  color: $globalTextColor;
}

body.path-contact {
  //background: transparent url(../images/bg-contacts.png);
  //background-size: cover;
  .contact-form {
    input,
    textarea,
    .btn-primary {
      //position: relative;
      opacity: .8;
    }
  }
}

.field--type-text-with-summary {
  figure {
    border: .1rem solid $globalBorderColor;
    padding: .5rem;
    margin-bottom: 1.5rem;

    &.align-left {
      margin-right: 1.5rem;
    }

    &.align-right {
      margin-left: 1.5rem;
    }

    //@media screen and (max-width: 768px) {
    //  margin: 0 0 15px 0 !important;
    //  float: none;
    //  img {
    //    width: 100%;
    //    height: auto;
    //  }
    //}

    figcaption {
      margin-top: .5rem;
      background-color: $globalBorderColor;
      font-size: 1.4rem;
      text-align: center;
      padding: .3rem .5rem;
    }
  }
}

