:root {
  --bs-body-font-family: #{$font-main};
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-color: #{$color-body};
  --bs-body-line-height: 1.5rem;
  --bs-body-bg: #{$color-white};
  --bs-heading-color: #{$color-heading};
}

html {

}

body {

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 400;

  &.style-fancy {
    &:after {
      // margin: 2rem 0;
    }
  }
}

h1, .h1 {
  font-size: 2.375rem;
  line-height: 2.375rem;
  margin-bottom: 2rem;
  @media (min-width: $bs-breakpoint-lg) {
    font-size: 3.5rem;
    line-height: 3.625rem;
  }
}

h2, .h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  @media (min-width: $bs-breakpoint-lg) {
    font-size: 3.125rem;
    line-height: 3.4375rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 2rem;
  @media (min-width: $bs-breakpoint-lg) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

a {
  color: $color-heading;
  text-decoration: none;
}

// Label.
.label {

}

// Tags.
.tags {

}
