//$globalBgColor: #fff;
$globalTextColor: #575756;
$globalLinkColor: #293749;
//$globalLinkHoverColor: darken($globalLinkColor, 10%);
$globalBorderColor: #ddd;

$imageBorderColor: #eee;
$portfolioHoverTextColor: #fff;

//$headerBgColor: #fff;
//$headerBorderColor: #ddd;
//$logoColor: #575756;
//$logoHoverColor: darken($logoColor, 10%);
$menuItemTextColor: #777;
//$menuItemHoverTextColor: #81a5bf;
$menuItemActiveTextColor: #81a5bf;
//$menuItemBgColor: #fff;
$menuItemBgHoverColor: #fff;
$menuItemBgActiveColor: #fff;
$menuItemBorderColor: #ddd;
$menuItemBorderBottomColor: #81a5bf;

$breadcrumbColor: #81a5bf;

//$h1Color: #293749;
$h2Color: #293749;
//$h3Color: #293749;
//$h4Color: #293749;
//$h5Color: #293749;
//$h1LinkColor: #293749;
//$h2LinkColor: #293749;
$h3LinkColor: #293749;
//$h4LinkColor: #293749;
//$h5LinkColor: #293749;
//$h1LinkHoverColor: #293749;
//$h2LinkHoverColor: #293749;
//$h3LinkHoverColor: #293749;
//$h4LinkHoverColor: #293749;
//$h5LinkHoverColor: #293749;

$footerBgColor: #575756;
$footerTextColor: #fff;
$footerLinkColor: #fff;
$footerLinkHoverColor: #eee;

$dateColor: #81a5bf;
$dateArticleTextColor: #fff;
$dateArticleBgColor: #81a5bf;

$tagBgColor: #ddd;
$tagTextColor: #222;
$tagBgHoverColor: #666;
$tagTextHoverColor: #fff;

$labelColor: #293749;
$listPointsColor: #81a5bf;

//$paginationLinkColor: #81a5bf;
//$paginationLinkHoverColor: #fff;
//$paginationLinkActiveColor: #fff;
//$paginationBorderColor: #81a5bf;
//$paginationBorderHoverColor: #fff;
//$paginationBorderActiveColor: #fff;
//$paginationBgColor: #fff;
//$paginationBgHoverColor: #81a5bf;
//$paginationBgActiveColor: #81a5bf;

$articleFirstLetterColor: #293749;

$preBorderColor: #ccc;
$preBgColor: #f5f5f5;
$preTextColor: #212121;

$blockquoteBorderColor: #ccc;
$blockquoteTextColor: #212121;

$attachmentsTextColor: #81a5bf;
$attachmentsLinkColor: #81a5bf;
$attachmentsBorderColor: darken($attachmentsLinkColor, 10%);
//$attachmentsBgColor: transparent;

//$secondSidebarH2Color: #293749;

$testimonialsAboutTextColor: #81a5bf;

$testimonialsBlockquoteBorderColor: #bbb;
$testimonialsBlockquoteBgColor: transparent;
$testimonialsBlockquoteTextColor: #575756;
$testimonialsBlockquoteAdditionalColor: #81a5bf;

$formFieldBgColor: #fff;
$formFieldBorderColor: #ddd;
$formFieldTextColor: #666;
$formFieldTextAlternativeColor: #ccc;

//$formButtonBgColor: #81a5bf;
//$formButtonBorderColor: darken($formButtonBgColor, 10%);
//$formButtonTextColor: #fff;
//$formButtonBgHoverColor: darken($formButtonBgColor, 10%);
//$formButtonBorderHoverColor: darken($formButtonBorderColor, 25%);
//$formButtonTextHoverColor: #fff;
//$formButtonBgActiveColor: darken($formButtonBgColor, 20%);
//$formButtonBorderActiveColor: darken($formButtonBorderColor, 50%);
//$formButtonTextActiveColor: #fff;

//$blockHireMeH2: #293749;
$blockHireMeButtonText: #fff;
$blockHireMeButtonBg: $attachmentsTextColor;
$blockHireMeButtonBgHover: darken($attachmentsTextColor, 10%);

$aboutAuthorNameColor: #414a51;

$upperBgHoverColor: #81a5bf;

$body-bg: #fff !default;
$btn-primary-bg: #81a5bf !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;
//$pagination-bg: #fff !default;
//$pagination-border: #81a5bf !default;
//$pagination-hover-bg: #81a5bf !default;
$pagination-active-color: #fff !default;
//$pagination-active-bg: #81a5bf !default;
$pager-active-color: $pagination-active-color !default;
