@import 'variables_theme';

#block-easydrupal-b5-hireme {
  text-align: center;
  padding: 4rem 6rem;

  h2 {
    font-size: 4rem;
    margin: 0;
  }

  @media (min-width: $bs-breakpoint-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .field--name-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      p {
        margin: 0;
      }
    }
  }

  a {
    display: inline-block;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 400;
    background-color: $color-neutral-13;
    padding: 1.5rem 2rem;
    color: $color-white;
    text-decoration: none;

    &:after {
      margin-left: 0.5rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: '\f1d8';
      font: var(--fa-font-solid);
    }

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color-neutral-13, 10%);
    }
  }
}
