@charset "UTF-8";

@import 'variables_theme';

.container-fluid {
  padding: 0;
}

.dialog-off-canvas-main-canvas > main {
  margin: 0;
}

header {
  .navbar {
    margin-bottom: 0;
  }
}

.page-node-type-landingpage {
  .section {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .title-wrapper {
      margin: 0 auto;
    }

    h2 {
      text-transform: uppercase;
    }

    .read-more {
      text-align: right;
      font-size: 1rem;

      a {
        color: #293749;
      }
    }
  }

  /** About **/
  .about {
    .container-lg {
      margin: 0 auto 0 auto;
      @media (min-width: $bs-breakpoint-xl) {
        width: 50%;
      }
    }

    text-align: center;
    @media (min-width: $bs-breakpoint-md) {
      text-align: left;
    }

    background-image: url('../../dist/images/pattern-1.png');
    background-color: #7ea2bb;

    h2 {
      &:after {
        width: 15rem;
      }
    }

    img {
      border-radius: 50%;
      border: .5rem solid $color-neutral-15;
      width: 216px;
      height: 216px;
      max-width: none;
      margin-bottom: 1.5rem;
      @media (min-width: $bs-breakpoint-md) {
        margin-bottom: 0;
      }
    }

    .field--name-body {
      color: #eee;
      margin: 0 auto;
    }

    .read-more a {
      color: #eee;
    }
  }

  /** Projects **/
  .projects {
    background-image: url('../../dist/images/bg-page-section--light-dbffac9426e51e0fdcaaad8452d7561b.png');
    background-color: #fff;
    color: #575756;

    .field--name-field-landing-page-backgro-media {
      border: .1rem solid #81a5bf;
      @media (min-width: $bs-breakpoint-xl) {
        // background-image: url(../images/devices/cs-imac-frame-small.png);
        background-image: url('../../dist/images/devices/desktop.svg');
        background-repeat: no-repeat;
        background-position: center top;
        height: 440px;
        width: 555px;
        padding: 19px 31px 0 31px;
        border: none;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-height: 299px;
    }

    .field--name-body {
      text-align: justify;
    }

  }

  /** Projects **/
  .clients {
    padding-top: 0;
    background-image: url('../../dist/images/bg-page-section--light-dbffac9426e51e0fdcaaad8452d7561b.png');
    background-color: #fff;
    color: #575756;

    .field--name-field-image-media {
      text-align: center;

      img {
        margin: 0 auto;
        width: auto;
        height: auto;
      }
    }
  }

  /** Articles **/
  .articles {
    background: #eaeaea;
    color: #575756;

    h2 {
      color: darken($color-neutral-2, 11%);

      &:after {
        background-color: darken($color-neutral-2, 11%);
      }
    }

    .field--name-field-image-media {
      img {
        border: .1rem solid #81a5bf;
        width: 100%;
      }
    }

    .field--name-body {
      text-align: left;
    }
  }

  /** Feedback **/
  .section.feedback {
    background-image: url('../../dist/images/client-testimonials-background.jpg');
    background-position: bottom center;
    background-size: cover;
    background-color: #fff;
    color: #575756;

    .field {
      margin-bottom: .75em;
    }

    .about-person {
      margin-bottom: .75em;
      color: #6686A2;

      span {
        color: #6686A2;

        &:not(:last-child) {
          &:after {
            content: "|";
          }
        }
      }
    }

    .name {
    }

    .position {
    }

    .country {
    }

    .field--name-field-image-media {
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: .5rem solid $color-neutral-15;
        margin: 0 auto;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }

    .project-info {
      margin-bottom: .75rem;
    }

    .field--name-field-project-title {
      color: #293749;

      a {
      }

      .field__item {
        &:not(:last-child) {
          &:after {
            content: ",";
          }
        }
      }
    }

    blockquote {
      color: $color-body;
      background-color: transparent;
      border-left: 1px solid $color-neutral-11;
      font-style: italic;
      padding: 1rem;
      text-align: justify;
      margin: 0;
      font-size: inherit;
      font-family: $font-main;

      &:before, &:after {
        font-family: helvetica, arial, sans-serif;
        color: $color-neutral-2;
        font-size: 3em;
        line-height: 0.1em;
      }

      &:before {
        content: "\201c";
        vertical-align: -.4em;
        margin-left: 0;
        margin-right: 0.2em;
      }

      &:after {
        content: "\201d";
        vertical-align: -.45em;
        margin-left: 0.2em;
      }

      > p:first-child {
        display: inline;
      }
    }

  }
}
