@charset "UTF-8";

@import "variables_theme";

.page-node-type-page {

}

article[about="/about-me"] {
  .field--name-body {
    .align-left {
      //@media (max-width: 768px) {
      //  float: none;
      //}
    }
    img {
      border-radius: 50%;
      border: .8rem solid $imageBorderColor;
      margin: 0 1.5rem 1.5rem 0;
      width: 216px;
      height: 216px;
      //@media (max-width: 768px) {
      //  float: none;
      //  display: block;
      //  width: 50%;
      //  height: auto;
      //  margin: 0 auto 1.5rem auto;
      //}
    }
  }
}
