@charset "UTF-8";

@import 'variables_theme';
@import "tags";

.region-content .field {
  margin-bottom: 0;
}

.field--name-field-media-image {
  img {
    width: 100%;
  }
  margin-bottom: 1.5rem;
}

// Deprecated.
.field--name-field-skills {
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  align-items: flex-start;
  justify-content: flex-start;
  .skills {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    .skill {
      @extend %tags;
    }
  }
}

.field--name-field-services {
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  align-items: flex-start;
  justify-content: flex-start;
  .services {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    .service {
      @extend %tags;
    }
  }
}

.field-name-field-project-url {
  a {
    display: inline-block;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 400;
    background-color: $color-neutral-2;
    padding: 1.5rem 2rem;
    color: $color-white;
    text-decoration: none;

    &:after {
      margin-left: 0.5rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: '\f35d';
      font: var(--fa-font-solid);
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-neutral-4;
    }
  }
}

// Slick.

.field--name-field-project-images-media {
  position: initial;
  //background-image: url(../images/devices/cs-imac-frame.png);
  background-image: url('../../dist/images/devices/desktop.svg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 611px;
  width: 846px;
  margin: 3rem auto;
  padding: 29px 83px 195px 81px;
  overflow: hidden;

  .field--name-name {
    position: relative;
    padding: 1rem;
    opacity: .8;
    top: -4rem;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    background: #fff;
  }

  @media (max-width: $bs-breakpoint-lg - 1) {
    background: none transparent;
    padding: 0;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.slick__arrow {
  button {
    outline: 0;
  }
}

.slick-arrow {
  padding: 0;
  border: 0;
  color: $color-neutral-16;
  position: absolute;
  width: 7rem;
  height: 2.5rem;
  fill: currentColor;
  font-size: 1.25rem;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  top: 31%;
  background: $color-neutral-3;
  opacity: .8;
  z-index: 1;

  @media (min-width: $bs-breakpoint-lg) {
    background: transparent;
    top: 38%;
    opacity: 1;
  }

  &.slick-prev {
    left: 0;
  }

  &.slick-next {
    right: 0;
  }
}
