@charset "UTF-8";

@import "default-variables";
@import "components/tags";

.page-node-type-project {

}

//.field-name-field-image-media {
//  img {
//    width: 100%;
//  }
//}

.field--name-field-skills {
  .skills {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;

    .skill {
      @extend %tags;
    }
  }
}

//.field-name-field-project-images {
//  a {
//    display: block;
//    text-decoration: none;
//    outline: none;
//  }
//}

.field-name-field-project-url {
  a {
    margin-top: 12px;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $blockHireMeButtonBg;
    padding: 15px 20px;
    color: $blockHireMeButtonText;
    text-decoration: none;

    &:after {
      font-family: 'FontAwesome';
      content: "\f35d";
      margin-left: .5rem;
    }

    &:hover, &:active {
      background-color: $blockHireMeButtonBgHover;
    }

    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
    }
  }
}
