@charset "UTF-8";

@import 'variables_theme';
@import "tags";

.page-node-type-project {

}

.field--name-field-skills {
  .skills {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;

    .skill {
      @extend %tags;
    }
  }
}

.field-name-field-project-url {
  a {
    display: inline-block;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $color-neutral-2;
    padding: 1.5rem 2rem;
    color: $color-white;
    text-decoration: none;

    &:after {
      margin-left: 0.5rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: '\f35d';
      font: var(--fa-font-solid);
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-neutral-4;
    }
  }
}
