@charset "UTF-8";

@import 'variables_theme';
@import "tags";

.view-tags {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    .views-row {
      margin-bottom: 0;
    }
  }

  .views-field {
    a {
      @extend %tags;
    }
  }
}
