@charset "UTF-8";

@import "variables_theme";
@import "components/date";

.view {
  .views-row {
    margin-bottom: 1.5rem;
  }
}

.view-articles,
.view-taxonomy-term {
  .views-row {
    padding-bottom: .7rem;
    border-bottom: .1rem dashed $globalBorderColor;
  }

  .field--name-node-title {
    h2 {
      margin-top: 0;
    }

    a {
    }
  }

  .field--name-field-image-media {
    img {
      width: 100%;
      border: .1rem solid $imageBorderColor;
      margin: 0 auto;
    }
  }

  .field-name-body {
    p:first-child:first-letter {
      font-family: "Times New Roman", Times, serif;
      font-size: 200%;
      color: $articleFirstLetterColor;
    }
  }
}

@media (min-width: 768px) {
  .view-articles,
  .view-taxonomy-term {
    .field--name-field-image-media {
      max-width: 200px;
      float: left;
      margin: 0 1.5rem 1.5rem 0;
    }
  }
}
