@charset "UTF-8";

@import 'variables_theme';

.view-feedback {
  .row {
    text-align: center;
    > div {
      border-bottom: .1rem dashed $color-neutral-3;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  h3.title {
  }

  .about {
    margin-bottom: 1rem;
    color: $color-neutral-2;

    span {
      color: $color-neutral-2;
      &:not(:last-child) {
        &:after {
          content: "|";
        }
      }
    }
  }

  .name {
  }

  .position {
  }

  .country {
  }

  .field--name-field-image-media {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: .5rem solid $color-neutral-15;
      margin: 0 auto 1rem auto;
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .project-info {
    margin-bottom: 1rem;
  }

  .field--name-field-date {
    font-size: .9rem;
    margin-bottom: .5rem;
    color: $color-neutral-2;
  }

  .field--name-field-project-title {
    color: $color-heading; //need for "comma".
    //font-weight: bold;
    a {
    }

    > span {
      &:not(:last-child) {
        &:after {
          content: ",";
        }
      }
    }
  }

  blockquote {
    color: $color-body;
    background-color: transparent;
    border-left: 1px solid $color-neutral-11;
    font-style: italic;
    padding: 1rem;
    text-align: justify;
    margin: 0;
    font-size: inherit;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &:before, &:after {
      font-family: helvetica, arial, sans-serif;
      color: $color-neutral-2;
      font-size: 3em;
      line-height: 0.1em;
    }

    &:before {
      content: "\201c";
      vertical-align: -.4em;
      margin-left: 0;
      margin-right: 0.2em;
    }

    &:after {
      content: "\201d";
      vertical-align: -.45em;
      margin-left: 0.2em;
    }

    > p:first-child {
      display: inline;
    }
  }
}
