<style type="text/css">
  body {
    background: #fff;
    font: 14px Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  p {
    margin: 0;
  }
  .wrapper {
    width: 50%;
    margin: 10% auto;
  }
  .error-number {
    font-size: 34px;
    color: #81A5BF;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .error-text {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .logo {
    font-size: 32px;
    color: #74B74A;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
  .go-home a {
    margin-top: 12px;
    display: inline-block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #74B74A;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
  }
  .drupal-logo {
    max-width: 296px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  @media (min-width: 992px) {
    .left {
      width: 49%;
      float: left;
    }
    .right {
      width: 49%;
      float: right;
    }
    .error-number {
      font-size: 34px;
    }
  }
</style>

<div class="wrapper">
  <div class="left">
    <img class="drupal-logo" src="/themes/custom/easydrupal/logo.svg"/>
  </div>
  <div class="right">
    <a class="logo" href="/">Make Drupal Easy</a>
    <p class="error-number">403: Access denied!</p>
    <p class="error-text">... Oops!  You are not authorized to access this page.</p>
    <p class="go-home"><a href="/">Home</a></p>
  </div>
</div>
